<div class="container">
    <div class="page-header">
      <h1>ToDoApp</h1>
    </div>
    <div>
        <label>Task content:
          <input #taskContent />
        </label>
        <!-- (click) 入力値をadd()に渡したあと、入力をクリアする -->
        <button (click)="add(taskContent.value); taskContent.value=''">
          add
        </button>
      </div>
    <ul class="list-group">
      <div *ngFor="let task of tasks">
        <li class="list-group-item">
            <label class="lidt-group-addon">
              <input type="checkbox">
            </label>
            <div class="form-control list-lg">{{ task.content }}</div>
            <span class="list-group-btn del-btn">
              <button type="delete" class="btn btn-danger" (click)="delete(task)">delete</button>
              </span>
        </li>
        </div>
    </ul>
  </div>